@media screen and (max-width: 730px){


    .medoegan {
        flex-direction: column;
    }

    .cotacao{
        flex-direction: column;
        height: auto;
        background-repeat: no-repeat;
    }

    .cotacao img {
        width: 100%;
    }

    .cA{
        width: 100%;
        font-size: 15px;
    }

    .cB{
        display: none;
    }

    .medoegan {
        width: 100%;
    }

    .lA {
        width: 100%;
        margin: 0 auto;
    }

    .lB{
        width: 100%;
        margin: 0 auto;
        text-align: justify;
    }
}
