@media screen and (max-width: 730px){


    #logo{
        margin-right: 2px;
        width: 8%;
    }


    .medoegan {
        flex-direction: column;
    }

    .cotacao{
        /* flex-direction: column; */
        height: auto;
        background-repeat: no-repeat;
    }

    .cotacao img {
        width: 100%;
    }

    .cA{
        width: 100%;
        padding: 0;
        font-size: 15px;
    }

    .cB {
        width: 30%;
    }

    .cB img{
        width: 100%;
    }

    /* .medoegan {
        width: 100%;
    } */

    .lA {
        width: 100%;
        margin: 0 auto;
    }

    .lB{
        width: 100%;
        margin: 0 auto;
        text-align: justify;
    }
}
