* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000820;
    /* background: linear-gradient(to bottom, #000820, rgb(24, 0, 31)); */
    background-repeat: no-repeat;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

header{
    background-color: #000514;
    position: fixed;
    padding: 10px;
    justify-content: space-between;
    height: 4rem;
    display: flex;
    align-items: center;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

#logo{
    margin-right: 2px;
    width: 6%;
    border-radius: 100%;
}

#logo:hover {
    box-shadow: 1px 1px 5px gold;
}

main {
    margin-top: 2rem;
}

.cotacao {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 5rem;
    box-shadow: 10px 10px 100px blue;
    background-image: linear-gradient(90deg,rgb(2, 1, 24) 0%, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%);;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    transition: 0.5s;
}

.cA{

    color: white;
    padding: 2rem;
    width: 100%;
    font-size: 2rem;
  
}

.cB {
    width: 30%;
}

.cB img{
    width: 50%;
    border-radius: 100%;
}

.medoegan {
    display: flex;
    width: 90%;
    padding: 1rem;
    border: grey solid 1px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: transparent;
    padding: 1rem;


}

.lA{
    width: 50%;
}

.lB {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    text-align: justify; 
    transition: 1s;

}

.lB:hover{
    border: solid grey 1px;
    background-color: #000820;
    transition: 1s;
    box-shadow: 10px 10px 100px blue;


}

.wp {
    width: 50%;
    margin-left: 2rem;
    display: flex;
    border-radius: 10px;
    background-color: white;
}

.wB {
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
 
  
}
footer {
    background-color: transparent;
    text-align: center;
    width: 100%;
    color: gold;
    padding: 2rem;
}
